.about{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding:5rem;
}

.about h1 {
 text-align: center;
}


.about p{
    text-align: center;
}

 .about img {
    width: 100%;
}